<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskAssignmentSystemWebApp</title>

    @* FavIcon *@
    <link rel="icon" type="image/x-icon" href="~/images/fav-icon.ico">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskAssignmentSystemWebApp.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @* FONT AWESOME ICONS *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @*Floating Label Style And Script*@
    <link href="~/floatinglabel/css/floatinglablestyle.css" rel="stylesheet" />
    <script src="~/floatinglabel/js/floatinglabelscript.js"></script>

    @*For Custom Alert Starts Here*@
    <link href="~/sweetAlert/css/sweetAlertStyle.css" rel="stylesheet" />
    <script src="~/sweetalert/sourcejs/sweetalertscriptsource.js"></script>
    <script src="~/sweetalert/js/sweetalertscript.js"></script>
    @*For Custom Alert Ends Here*@

    @*Select2 For Searchable DropDown Menu Init Starts Here*@
    <link href="~/select2jquerydropdown/css/select2jquerystyle.css" rel="stylesheet" />
    <script src="~/select2jquerydropdown/sourcejs/select2jqueryscript.js"></script>
    @*Select2 For Searchable DropDown Menu Init Ends Here*@

    @*Region CSS Style for Loading Indicator Starts Here*@
    <link href="~/css/loadingindicatorstyle.css" rel="stylesheet" />
    @*Region CSS Style for Loading Indicator Ends Here*@

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Task" asp-action="Index">Task Assignment System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Index">Task</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @* <div class="container"> *@
    <div>
        @*Region Body HTML ELEM for Loading Indicator Starts Here*@

        <div class="loading" style="display: none; text-align: center;">
            <img class="mt-3" src="~/images/gifs/loading.gif" alt="Loading..." />
            <br />
            <label class="mt-3">Loading...</label>
        </div>

        @*Region Body HTML ELEM for Loading Indicator Ends Here*@

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
